<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">

      <button id="subscribe" class="btn btn-primary center-block">登録</button>

      <button id="notify" class="btn btn-primary center-block">送信</button>

      <div id="result"></div>

    </div>

  </div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="//js.pusher.com/2.2/pusher.min.js"></script>
<script src="js/subscribe.js"></script>
